:root {
    --main-text: #757575;
    --accent-color: #2196F3;
    --logo-black-color: #000000;
    --secondary-text: #212121;
    --main-section: #2F303A;
    --main-white: #FFFFFF;
    --section-team: #F5F4FA;
    --portfolio-header: #ECECEC;
    --icon-gray-fill: #AFB1B8;
}

body {
    background-color: var(--main-white);
    color: var(--main-text);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

ul {
    list-style: none;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    outline: 2px solid red;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0%;
}

ol,
ul {
    margin: 0%;
    padding-left: 0;
}

button {
    cursor: pointer;
}

address {
    font-style: normal;

}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/*-------------- Header --------------*/

.page-header .container {
    display: flex;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
}

.site-nav {
    display: flex;
    align-items: center;
    padding: 0%;
}

.contact-list {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 50px;
}

.page-header {
    padding: 25px 0px;
    border-bottom: 1px solid var(--portfolio-header);
}

.logo {
    text-decoration: none;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: var(--logo-black-color);
    letter-spacing: 0.03em;
    margin-right: 93px;
}

.logo>span:first-child {
    color: var(--accent-color);
}

.nav-link {
    position: relative;
    color: var(--secondary-text);
    text-decoration: none;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition-duration: 250ms;
    transition-property: color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    padding-bottom: 32px;
}

.nav-link:hover,
.nav-link:focus {
    color: var(--accent-color);
}

.current {
    color: var(--accent-color);
}

.nav-link.current::after {
    content: '';
    position: absolute;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
}

.contact-link {
    color: var(--main-text);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link:hover,
.contact-contact:focus {
    color: var(--accent-color);
}

.contact-icon {
    width: 16px;
    height: 12px;
    margin-right: 10px;
}

.contact-icon {
    fill: currentColor;
}

/* -------------Main------------ */
.section {
    background-color: var(--main-section);
    padding: 200px 0px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../img/Img-шапка.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    max-width: 1600px;
    margin-right: auto;
    margin-left: auto;
}


.hero-title {
    color: var(--main-white);
    width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

.button {
    color: var(--main-white);
    background-color: var(--accent-color);
    font-family: 'Roboto';
    font-style: normal;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
    padding: 10px 32px;
    display: inline-block;
    min-width: 216;
    border: 1px solid transparent;
    display: flex;
    margin: auto;
}


.about {
    padding-top: 94px;
}

.picture-text {
    position: relative;
}

.work-text {
    position: absolute;
    display: inline-block;
    width: 100%;
    bottom: 0;
    text-align: center;
    text-transform: uppercase;
    padding-top: 27px;
    padding-bottom: 27px;
    background-color: rgba(47, 48, 58, 0.8);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--main-white);
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.description {
    display: flex;
    gap: 30px;
}

.peculiarity {
    width: 270px;
}

.content {
    height: 120px;
    outline: 1px solid red;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    background-color: var(--section-team);
}

.about-title {
    color: var(--secondary-text);
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.about-description {
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.section-title {
    color: var(--secondary-text);
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}

.pictures-work {
    display: flex;
    gap: 30px;
}

.team {
    background-color: var(--section-team);
    padding-top: 94px;
    padding-bottom: 94px;
}

.section-title {
    margin-bottom: 50px;
}

.item {
    background-color: var(--main-white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.user {
    padding-top: 30px;
    padding-bottom: 30px;
}

.team-name {
    color: var(--secondary-text);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
}

.team-profession {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
}

.social-networks {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.icon {
    width: 44px;
    height: 44px;
}

.icon-networks {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--icon-gray-fill);
    transition-property: color, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-networks-icon {
    width: 20px;
    height: 20px;
    fill: currentColor;
}

.icon-networks:hover {
    background-color: var(--accent-color);
    color: var(--main-white);
}

.icon-networks:focus {
    background-color: var(--accent-color);
}

.icon-networks:focus .icon-networks-icon {
    fill: var(--main-white);
    background-color: var(--accent-color);
}


.client {
    padding-bottom: 94px;
    padding-top: 94px;
    cursor: pointer;
}

.caption {
    display: flex;
    gap: 30px;
}

.picture {
    width: calc((100% - 150px) / 6);
    height: 92px;
}


.regular-customers {
    width: 100%;
    height: 100%;
    border: 1px solid #AFB1B8;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    color: #AFB1B8;
    transition-property: color, border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.regular-customers-icon {
    fill: currentColor;
}

.regular-customers:hover {
    border-color: var(--accent-color);
    color: var(--accent-color);
}

.regular-customers:focus {
    border-color: var(--accent-color);
}

.regular-customers:focus .regular-customers-icon {
    fill: var(--accent-color);
}

.regular-customers-icon {
    width: 106px;
    height: 60px;
}



/* --------Footer---------- */
.footer-main {
    background-color: var(--main-section);
    padding-top: 60px;
    ;
    padding-bottom: 60px;
}

.container-one {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.logo-footer>span:first-child {
    color: var(--accent-color);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
}

.logo-footer>span:last-child {
    color: var(--main-white);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
}

.logo-footer {
    text-decoration: none;
    margin-bottom: 20px;
}

.link-footer {
    color: var(--main-white);
}

.google-contact {
    color: var(--main-white);
    text-decoration: none;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.contact {
    margin-bottom: 9px;
}

.footer-contact {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    line-height: 1.71;
    letter-spacing: 0.03em;
    padding-bottom: 9px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.footer-contact:hover,
.footer-contact:focus {
    color: var(--accent-color);
}

.join {
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-white);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    margin-bottom: 20px;
}

.join-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.icon-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    gap: 10px;
    background-color: rgba(255, 255, 255, 0.1);
}

.regular-customers-footer {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    color: var(--main-white);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-join {
    fill: currentColor;
}

.regular-customers-footer:hover {
    background-color: var(--accent-color);
}

.regular-customers-footer:hover .icon-join {
    fill: var(--main-white);
}

.regular-customers-footer:focus {
    background-color: var(--accent-color);
}

/* -----------Портфолио-------------- */

.button-portfolio {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
    Border: none;
    padding: 6px 22px;
    border-radius: 4px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.button-portfolio {
    background-color: var(--section-team);
    color: var(--main-section);
}

.button-portfolio.desk {
    background-color: var(--accent-color);
    color: var(--main-white);
    padding: 6px 25px;
}

.button-portfolio.desk:hover {
    color: var(--main-white);
}

.button-portfolio:hover,
.button-portfolio:focus {
    background-color: var(--accent-color);
    color: var(--main-white);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects {
    padding-top: 94px;
    padding-bottom: 94px;
}

.list {
    display: flex;
    gap: 50px;
    justify-content: center;
}

.filter {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 50px;
}

.pictures {
    width: calc((100% - 60px) / 3);
    border: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
}

.block {
    text-decoration: none;
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.block:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.overlay {
    position: relative;
    overflow: hidden;
}

.text {
    position: absolute;
    top: 0px;
    padding: 40px;
    color: var(--main-white);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    background-color: rgba(33, 150, 243, 0.9);
    height: 100%;
    transform: translateY(101%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.pictures:hover .text {
    transform: translateY(0%);
}

.list-pictures {
    display: flex;
    gap: 30px;
    margin-top: 50px;
    flex-wrap: wrap;
}

.group {
    background-color: var(--main-white);
    border: 1px solid #EEEEEE;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 15px;
}

.logo-footer {
    display: block;
    margin-bottom: 20px;
}

.project-name {
    color: var(--secondary-text);
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
}

.project-text {
    color: var(--main-text);
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
}

.information {
    margin-bottom: 9px;
}

.form-lab {
    display: inline-block;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-white);
}

.footer-aside {
    display: flex;
    gap: 12px;
}

.form-input-aside {
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding-left: 16px;
    color: var(--main-white);
    background-color: transparent;
}

.form-input-aside::placeholder {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-btn {
    position: relative;
}

.footer-submit {
    display: inline-block;
    padding: 10px 62px 10px 28px;
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--main-white);
}

.footer-submit:focus {
    background-color: var(--main-section);
}


.footer-pic {
    position: absolute;
    right: 28px;
    top: 50%;
    transform: translateY(-50%);
}





/* -----------МОДАЛЬНЕ ВІКНО-------------- */

.backdrop {
    width: 100%;
    height: 100%;
    background-color: rgba(47, 48, 58, 0.4);
    position: fixed;
    top: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    width: 528px;
    min-height: 581px;
    background-color: var(--main-white);
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 40px;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden.modal {
    transform: translate(-50%, -50%) scale(0);

}

.modal-close {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    position: absolute;
    right: 8px;
    top: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover {
    fill: var(--accent-color);
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal-tittle {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    color: var(--secondary-text);
    margin-bottom: 12px;
}

.modal-field {
    margin-bottom: 10px;
}

.textarea-field {
    margin-bottom: 20px;
}

.input-wrap {
    position: relative;
}

.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 30px;
    cursor: pointer;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text {
    width: 100%;
    height: 120px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    padding-top: 12px;
    padding-left: 16px;
    resize: none;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text:focus {
    border-color: var(--accent-color);
}

.modal-input:focus {
    border-color: var(--accent-color);
}


.input-label {
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
}

.modal-input:focus+.modal-input-icon {
    fill: var(--accent-color);
}

.modal-input-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input::placeholder,
.modal-text::placeholder {
    font-size: 12px;
    color: rgba(117, 117, 117, 0.5);
}


.modal-input:not(:focus):not(:placeholder-shown):valid {
    background-color: hsl(120, 76%, 61%);
}

.modal-input:not(:focus) :not(:placeholder-shown) :invalid {
    background-color: hsl(2, 72%, 55%);
}

.button-modal {
    margin: 0 auto;
    display: block;
    align-items: center;
    text-align: center;
    width: 200px;
    height: 50px;
    color: var(--main-white);
    background-color: var(--accent-color);
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: transparent;
    margin-top: 30px;
}

.policy-text {
    margin-bottom: 30px;
    line-height: 1.71;
}

.check-text {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.check-text span {
    width: 16px;
    height: 15px;
    border: 2px solid var(--logo-black-color);
    border-radius: 3px;
    margin-right: 8.38px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}

.input-check:checked+.check-text span {
    background-color: var(--accent-color);
    border-color: transparent;
    fill: var(--main-white);
}

.input-check:focus+.check-text span {
    border-color: var(--accent-color);
}

.check-icon {
    width: 16px;
    height: 15px;
}

.check-text>a {
    color: var(--accent-color);
    margin-left: 8px;
}

