.backdrop {
    width: 100%;
    height: 100%;
    background-color: rgba(47, 48, 58, 0.4);
    position: fixed;
    top: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    width: 528px;
    min-height: 581px;
    background-color: var(--main-white);
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 40px;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden.modal {
    transform: translate(-50%, -50%) scale(0);

}

.modal-close {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    position: absolute;
    right: 8px;
    top: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        fill: var(--accent-color);
    }
}



.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal-tittle {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    color: var(--secondary-text);
    margin-bottom: 12px;
}

.modal-field {
    margin-bottom: 10px;
}

.textarea-field {
    margin-bottom: 20px;
}

.input-wrap {
    position: relative;
}

.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 30px;
    cursor: pointer;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
        border-color: var(--accent-color);
    }
}

.modal-text {
    width: 100%;
    height: 120px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    padding-top: 12px;
    padding-left: 16px;
    resize: none;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
        border-color: var(--accent-color);
    }
}





.input-label {
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
}

.modal-input:focus+.modal-input-icon {
    fill: var(--accent-color);
}

.modal-input-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &::placeholder,
    &::placeholder {
        font-size: 12px;
        color: rgba(117, 117, 117, 0.5);
    }
    &:not(:focus):not(:placeholder-shown):valid {
        background-color: hsl(120, 76%, 61%);
    }
    &:not(:focus) :not(:placeholder-shown) :invalid {
        background-color: hsl(2, 72%, 55%);
    }
}







.button-modal {
    margin: 0 auto;
    display: block;
    align-items: center;
    text-align: center;
    width: 200px;
    height: 50px;
    color: var(--main-white);
    background-color: var(--accent-color);
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: transparent;
    margin-top: 30px;
}

.policy-text {
    margin-bottom: 30px;
    line-height: 1.71;
}

.check-text {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.check-text span {
    width: 16px;
    height: 15px;
    border: 2px solid var(--logo-black-color);
    border-radius: 3px;
    margin-right: 8.38px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}

.input-check:checked+.check-text span {
    background-color: var(--accent-color);
    border-color: transparent;
    fill: var(--main-white);
}

.input-check:focus+.check-text span {
    border-color: var(--accent-color);
}

.check-icon {
    width: 16px;
    height: 15px;
}

.check-text>a {
    color: var(--accent-color);
    margin-left: 8px;
}