:root {
    --main-text: #757575;
    --accent-color: #2196F3;
    --logo-black-color: #000000;
    --secondary-text: #212121;
    --main-section: #2F303A;
    --main-white: #FFFFFF;
    --section-team: #F5F4FA;
    --portfolio-header: #ECECEC;
    --icon-gray-fill: #AFB1B8;
}