:root {
  --main-text: #757575;
  --accent-color: #2196f3;
  --logo-black-color: #000000;
  --secondary-text: #212121;
  --main-section: #2f303a;
  --main-white: #ffffff;
  --section-team: #f5f4fa;
  --portfolio-header: #ececec;
  --icon-gray-fill: #afb1b8;
}

$mobile: 480px;
$tablet: 768px;
$descktop: 1200px;
