.page-header .container {
    display: flex;
    align-items: center;
}





.page-header {
    padding: 25px 0px;
    border-bottom: 1px solid var(--portfolio-header);
}






.current {
    color: var(--accent-color);
}







