








.projects {
    padding-top: 94px;
    padding-bottom: 94px;
}

.list {
    display: flex;
    gap: 50px;
    justify-content: center;
}

.filter {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 50px;
}



.block {
    text-decoration: none;
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}



.overlay {
    position: relative;
    overflow: hidden;
}

.text {
    position: absolute;
    top: 0px;
    padding: 40px;
    color: var(--main-white);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    background-color: rgba(33, 150, 243, 0.9);
    height: 100%;
    transform: translateY(101%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.group {
    background-color: var(--main-white);
    border: 1px solid #EEEEEE;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 15px;
}



.project-name {
    color: var(--secondary-text);
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
}

.project-text {
    color: var(--main-text);
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
}

.information {
    margin-bottom: 9px;
}

.form-lab {
    display: inline-block;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-white);
}

.footer-aside {
    display: flex;
    gap: 12px;
}

.form-input-aside {
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding-left: 16px;
    color: var(--main-white);
    background-color: transparent;

    &::placeholder {
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
    }
}



.footer-btn {
    position: relative;
}

.footer-submit {
    display: inline-block;
    padding: 10px 62px 10px 28px;
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--main-white);

    &:focus {
        background-color: var(--main-section);
    }
}




.footer-pic {
    position: absolute;
    right: 28px;
    top: 50%;
    transform: translateY(-50%);
}