.team {
    background-color: var(--section-team);
    padding-top: 94px;
    padding-bottom: 94px;

    @media screen and (min-width:1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.team{
    padding-top: 60px;
    padding-bottom: 60px;
}

.team-name {
    color: var(--secondary-text);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
}

.team-profession {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
}